<div class="row2 bgrr">
    <div class="boxcenter ">
        <div class="btnmenu bgrr ">HOME  </div>
        <div class="btnmenu bgrr">IPHONE </div>
        <div class="btnmenu bgrr">IPAD   </div>
        <div class="btnmenu bgrr">SAMSUNG </div>
        <div class="btnmenu bgrr">OPPO </div>
        <div class="btnmenu bgrr">XIAOMI </div>
        <div class="btnmenu bgrr">VIVO </div>
        <div class="btnmenu bgrr">REALME </div>
        <div class="btnmenu bgrr">PHỤ KIỆN </div>
    </div>
</div>