<div class="boxleft mgr2 minh">
    <div class="row2 bgr bdtrl">
        <img src="assets/images/list_menu_icon.png" alt="">
        <div class="title_sp">DANH MỤC SẢN PHẨM</div>
    </div>
    <div class="rowcontent bdb5">
        <img src="assets/images/icon_product/iphone.jpg" alt="">
        <div class="contentmenu">Iphone </div>
    </div>
    <div class="rowcontent bdb5">
        <img src="assets/images/icon_product/ipad.jpg" alt="">
        <div class="contentmenu">Ipad </div>
    </div>
    <div class="rowcontent bdb5">
        <img src="assets/images/icon_product/apple_watch.jpg" alt="">
        <div class="contentmenu">Apple watch </div>
    </div>
    <div class="rowcontent bdb5">
        <img src="assets/images/icon_product/samsung.jpg" alt="">
        <div class="contentmenu">Oppo</div>
    </div>
    <div class="rowcontent bdb5">
        <img src="assets/images/icon_product/samsung.jpg" alt="">
        <div class="contentmenu">Samsung </div>
    </div>
    <div class="rowcontent bdb5">
        <img src="assets/images/icon_product/xiaomi.jpg" alt="">
        <div class="contentmenu">Xiaomi</div>
    </div>
    <div class="rowcontent bdb5">
        <img src="assets/images/icon_product/realme.jpg" alt="">
        <div class="contentmenu">Realme </div>
    </div>
    <div class="rowcontent bdb5">
        <img src="assets/images/icon_product/vivo.jpg" alt="">
        <div class="contentmenu">Vivo </div>
    </div>
    <div class="rowcontent bdbrl">
        <img src="assets/images/icon_product/accessory2.jpg" alt="">
        <div class="contentmenu">Phụ kiện </div>
    </div>
</div>