<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="row top">
        <div class="boxcenter3">
            <div class="boxitem3 mgr5">
                <img src="../assets/images/logo.png" alt="">
            </div>
            <div class="boxitem3 mgr2 mgt15">
                <div class="search">
                    <input type="text" placeholder="Bạn muốn tìm gì?">
                    <img src="../assets/images/search_zoom_icon.png" alt="">
                </div>
            </div>
            <div class="boxitem3 mgr2 mgt15">
                <div class="">Hotline bán hàng </div>
                <div class="">0123456789 </div>
            </div>
            <div class="boxitem3 mgr2 mgt15">
                <div class="">Tư vấn kĩ thuật</div>
                <div class="">0123456789 </div>
            </div>
            <div class="boxitem3 mgr2 mgt15 ">
                <div class="">Tư vấn kĩ thuật</div>
                <div class="">0123456789 </div>
            </div>
            <div class="boxitem3 mgt15 mgl130">
                <a href="">Đăng nhập </a>
                <span>\</span>
                <a href="">Đăng ký </a>
            </div>
        </div>
    </div>
    <div class="row2 bgrr">
        <div class="boxcenter ">
            <div class="btnmenu bgrr ">HOME  </div>
            <div class="btnmenu bgrr">IPHONE </div>
            <div class="btnmenu bgrr">IPAD   </div>
            <div class="btnmenu bgrr">SAMSUNG </div>
            <div class="btnmenu bgrr">OPPO </div>
            <div class="btnmenu bgrr">XIAOMI </div>
            <div class="btnmenu bgrr">VIVO </div>
            <div class="btnmenu bgrr">REALME </div>
            <div class="btnmenu bgrr">PHỤ KIỆN </div>
        </div>
    </div>
    <div class="row3 content">
        <div class="boxcenter">
            <div class="boxleft mgr2 minh">
                <div class="row2 bgr bdtrl">
                    <img src="../assets/images/list_menu_icon.png" alt="">
                    <div class="title_sp">DANH MỤC SẢN PHẨM</div>
                </div>
                <div class="rowcontent bdb5">
                    <img src="/src/public/images/icon_product/iphone.jpg" alt="">
                    <div class="contentmenu">Iphone </div>
                </div>
                <div class="rowcontent bdb5">
                    <img src="/src/public/images/icon_product/ipad.jpg" alt="">
                    <div class="contentmenu">Ipad </div>
                </div>
                <div class="rowcontent bdb5">
                    <img src="/src/public/images/icon_product/apple_watch.jpg" alt="">
                    <div class="contentmenu">Apple watch </div>
                </div>
                <div class="rowcontent bdb5">
                    <img src="/src/public/images/icon_product/samsung.jpg" alt="">
                    <div class="contentmenu">Oppo</div>
                </div>
                <div class="rowcontent bdb5">
                    <img src="/src/public/images/icon_product/samsung.jpg" alt="">
                    <div class="contentmenu">Samsung </div>
                </div>
                <div class="rowcontent bdb5">
                    <img src="/src/public/images/icon_product/xiaomi.jpg" alt="">
                    <div class="contentmenu">Xiaomi</div>
                </div>
                <div class="rowcontent bdb5">
                    <img src="../assets/images/icon_product/realme.jpg" alt="">
                    <div class="contentmenu">Realme </div>
                </div>
                <div class="rowcontent bdb5">
                    <img src="../assets/images/icon_product/vivo.jpg" alt="">
                    <div class="contentmenu">Vivo </div>
                </div>
                <div class="rowcontent bdbrl">
                    <img src="../assets/images/icon_product/accessory2.jpg" alt="">
                    <div class="contentmenu">Phụ kiện </div>
                </div>
            </div>
            <div class="boxright minh">
                <div class="rowbanner">
                    <div class="banner">
                        <!-- Slideshow container -->
                        <div class="slideshow-container">

                            <!-- Full-width images with number and caption text -->
                            <div class="mySlides fade">
                                <div class="numbertext">1 / 4</div>
                                <img src="../assets/images/banner/slider1.jpg" style="width:100%">
                                <div class="text">Caption One</div>
                                </div>
                            <div class="mySlides fade">
                                <div class="numbertext">2 / 4</div>
                                <img src="../assets/images/banner/slider2.jpg" style="width:100%">
                                <div class="text">Caption Two</div>
                            </div>

                            <div class="mySlides fade">
                                <div class="numbertext">3 / 4</div>
                                <img src="../assets/images/banner/slider3.jpg" style="width:100%">
                                <div class="text">Caption Three</div>
                            </div>

                            <div class="mySlides fade">
                                <div class="numbertext">4 / 4</div>
                                <img src="../assets/images/banner/slider4.jpg" style="width:100%">
                                <div class="text">Caption Three</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row3 content2">
        <div class="boxsp">
            <div class="row4 mgt15">
                <div class="formproduct">
                    <div class="product mgr5">
                        <img src="../assets/images/product/samsung.jpg" alt="">
                        <div class="nameProduct">Samsung S24 Ultra</div>
                        <div class="priceProduct">42 000 000</div>
                    </div>
                    <div class="product mgr5">
                        <img src="../assets/images/product/samsung.jpg" alt="">
                        <div class="nameProduct">Samsung S24 Ultra</div>
                        <div class="priceProduct">42 000 000</div>
                    </div>
                    <div class="product mgr5">
                        <img src="../assets/images/product/samsung.jpg" alt="">
                        <div class="nameProduct">Samsung S24 Ultra</div>
                        <div class="priceProduct">42 000 000</div>
                    </div>
                    <div class="product mgr5">
                        <img src="../assets/images/product/samsung.jpg" alt="">
                        <div class="nameProduct">Samsung S24 Ultra</div>
                        <div class="priceProduct">42 000 000</div>
                    </div>
                    <div class="product mgr5">
                        <img src="../assets/images/product/samsung.jpg" alt="">
                        <div class="nameProduct">Samsung S24 Ultra</div>
                        <div class="priceProduct">42 000 000</div>
                    </div>
                    <div class="product mgr5">
                        <img src="../assets/images/product/samsung.jpg" alt="">
                        <div class="nameProduct">Samsung S24 Ultra</div>
                        <div class="priceProduct">42 000 000</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row3 content2 mgt25 mgbt15">
        <div class="boxsp">
            <div class="row4">
                <img src="../assets/images/banner/banner1.png" alt="">
            </div>
            <div class="row4 mgt15">
                <div class="formproduct">
                    <div class="product mgr5">
                        <img src="../assets/images/product/samsung.jpg" alt="">
                        <div class="nameProduct">Samsung S24 Ultra</div>
                        <div class="priceProduct">42 000 000</div>
                    </div>
                    <div class="product mgr5">
                        <img src="../assets/images/product/samsung.jpg" alt="">
                        <div class="nameProduct">Samsung S24 Ultra</div>
                        <div class="priceProduct">42 000 000</div>
                    </div>
                    <div class="product mgr5">
                        <img src="../assets/images/product/samsung.jpg" alt="">
                        <div class="nameProduct">Samsung S24 Ultra</div>
                        <div class="priceProduct">42 000 000</div>
                    </div>
                    <div class="product mgr5">
                        <img src="../assets/images/product/samsung.jpg" alt="">
                        <div class="nameProduct">Samsung S24 Ultra</div>
                        <div class="priceProduct">42 000 000</div>
                    </div>
                    <div class="product mgr5">
                        <img src="../assets/images/product/samsung.jpg" alt="">
                        <div class="nameProduct">Samsung S24 Ultra</div>
                        <div class="priceProduct">42 000 000</div>
                    </div>
                    <div class="product mgr5">
                        <img src="../assets/images/product/samsung.jpg" alt="">
                        <div class="nameProduct">Samsung S24 Ultra</div>
                        <div class="priceProduct">42 000 000</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer">
        <div class="boxfooter mgt15 ">
            <div class="footer_item mgr4 mgt15">
                <div class="contact">CONTACT US</div>
                <div class="boxcontact">
                    <img src="../assets/images/footer/location_place_icon.png" alt="">
                    <div class="contentcontact">278 đường Lam Sơn, Thành phố Vĩnh Yên, Vĩnh Phúc</div>
                </div>
                <div class="boxcontact mgt15">
                    <img src="../assets/images/footer/smart_icon.png" alt="">
                    <div class="contentcontact">+(888) 123456789</div>
                    <div class="contentcontact">+(888) 123456789</div>

                </div>
                <div class="boxcontact mgt15">
                    <img src="../assets/images/footer/email_icon.png" alt="">
                    <div class="contentcontact mgt15 ">lich04d3@gmail.com</div>
                </div>
            </div>
            <div class="footer_item mgr4 mgt15">
                <div class="contact mgl15">CUSTOMER SERVICE</div>
                <ul>
                    <li>My Account</li>
                    <li>Order History</li>
                    <li>FAQ</li>
                    <li>Specials</li>
                    <li>Helps Center </li>
                </ul>
            </div>
            <div class="footer_item mgr4 mgt15">
                <div class="contact mgl15">CORPORATION</div>
                <ul>
                    <li>About us </li>
                    <li>Customer Service </li>
                    <li>Company </li>
                    <li>Investor Relations </li>
                    <li>Adanced Search </li>
                </ul>
            </div>
            <div class="footer_item mgt15 ">
                <div class="contact mgl15">WHY CHOOSE US</div>
                <ul>
                    <li>Shopping Guide </li>
                    <li>Blogs </li>
                    <li>Company </li>
                    <li>Investor Relations </li>
                    <li>Adanced Search </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row5">
    </div>
</body>
</html>
<script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1
        }
        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides, 5000); 
    }
</script>